<h1>新規投稿画面</h1>
<%= form_for @task do |f| %>
  <p>
    <%= f.label :title%> <br>
    <%= f.text_field :title %>
    <% if @task.errors.any? %>
     <%= @task.errors.messages[:title][0] %>
    <% end %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>